<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pokemon</title>
    </head>
    <body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="home-page">
        <div class="home-logo">
            <img src="https://www.freepnglogos.com/uploads/pokemon-logo-png-0.png" />
        </div>
    </div>
    {% endblock %}
    </body>
</html>