{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Pokemon{% endblock  %}

{% block content %}

<h1 class="title pt-5">Trending Pokemon</h1>
<div class="gallery">
  {% for poke in pokemon %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{poke.img}}" alt="{{poke.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{poke.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Pokemon Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}